:root{
    --headerHeight: 45px;
}


.container{
    width: 100%;
    height: var(--headerHeight);
    background-color: rgb(243, 236, 236);
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* box-sizing: border-box; */
    margin-bottom: 5px;
}

.rightArea{
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* box-sizing: border-box; */
    width:auto;
    height:100%;


}
.leftArea{
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* box-sizing: border-box; */
    width:auto;
    height:100%;


}

.logo{
    height:  calc(var(--headerHeight) * 0.7);
    margin: 5px;
    
}

.avatar{
    height: calc(var(--headerHeight) * 0.7) !important;
    width: calc(var(--headerHeight) * 0.7) !important;
    margin:5px 15px ;
    border: 2px solid green;
}

.logs{
    padding:5px 15px !important;
    /* margin: 15px !important; */
    margin-left : 15px !important;
}

.logsItem{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.logsIdCode{
    padding: 0 10px 0 0;
    color:green
}

.logsName{
    color:blueviolet;
    padding: 0 10px 0 0;
    cursor: pointer;
    overflow:hidden;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 600px;
}
.logsLogsIdCode{
    padding: 0 10px 0 0;
    /* color:green */
}

.logsLogsName{
    /* color:blueviolet; */
    padding: 0 10px 0 0;
    cursor: text;
    overflow:hidden;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 600px;

}
.logsLogsAction{
    padding: 0 10px 0 0;
    min-width: 90px;
}