.leftSide {
    width: 67%;
    height: 100%;
    border-right: 1px solid gray;
    display: flex;
    flex-direction: column;
    overflow: auto;
    box-sizing: border-box;
  }
  .leftSideArea {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .leftSideAreaForm {
    width: 33%;
  }
  
  
  .leftSideIdInput {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  